*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

/* NAVBAR */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:#020617;
  position:sticky;
  top:0;
}

.logo{
  font-size:25px;
  font-weight:700;
  color:#38bdf8;
}

nav a{
  margin:0 15px;
  color:white;
  text-decoration:none;
  font-weight:500;
}

nav a:hover{
  color:#38bdf8;
}

/* HERO */
.hero{
  height:90vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  flex-direction:column;
  width:100%;
}

.hero img.profile{
  width:180px;
  height:180px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #38bdf8;
  margin-bottom:15px;
  box-shadow:0 0 25px #38bdf8;
}

.hero hr{
  width:100%;
  border:2px solid white;
  margin-bottom:20px;
}

.hero h1{
  font-size:50px;
}

.hero span{
  color:#38bdf8;
}

.hero p{
  margin-top:10px;
  width:60%;
  color:#d1d5db;
}

.btn{
  margin-top:20px;
  padding:12px 30px;
  border:none;
  border-radius:30px;
  background:#38bdf8;
  color:#000;
  font-weight:700;
  cursor:pointer;
}

.btn:hover{
  background:white;
}

/* SECTION STYLE */
section{
  padding:60px 80px;
}

h2{
  font-size:35px;
  margin-bottom:15px;
  color:#38bdf8;
}

/* ABOUT */
.about p{
  width:70%;
  color:#e5e7eb;
}

/* SKILLS */
.skills-box{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.skill{
  background:#020617;
  padding:25px;
  border-radius:10px;
  text-align:center;
  border:1px solid #38bdf8;
}

/* PROJECTS */
.projects{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

.project-card{
  background:#020617;
  border:1px solid #38bdf8;
  padding:25px;
  border-radius:10px;
  transition:0.3s;
}

.project-card:hover{
  transform:scale(1.05);
}

.project-card h3{
  color:#38bdf8;
  margin-bottom:10px;
}

/* CONTACT */
.contact{
  text-align:center;
}

.contact p{
  margin:10px 0;
}

/* FOOTER */
footer{
  background:#020617;
  padding:25px;
  text-align:center;
  color:#9ca3af;
  margin-top:20px;
  font-size:14px;
}
